* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.purple-theme {
    background-color: #e4c4de;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: calc(1145px + 30px);
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_list {
    text-align: center;

}

.header_item {
    padding: 26px 0;
    padding-left: 72px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-align: center;
    color: #FF0000;
    text-transform: uppercase;
}

.toggle {
    display: inline-block;
    position: relative;
    left: 72px;
    height: 50px;
    width: 50px;
}

.toggle:before {
    box-shadow: 0;
    border-radius: 84.5px;
    background: #fff;
    position: absolute;
    margin-left: -18px;
    margin-top: -18px;
    opacity: 0.2;
    height: 36px;
    width: 36px;
    left: 50%;
    top: 50%;
}

.toggle .button {
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
    border-radius: 68.8px;
    position: absolute;
    background: #eaeaea;
    margin-left: -17.2px;
    margin-top: -17.2px;
    display: block;
    height: 34.4px;
    width: 34.4px;
    left: 50%;
    top: 50%;
    font-size: 14px;
}

.toggle .label {
    transition: color 300ms ease-out;
    line-height: 50px;
    text-align: center;
    position: absolute;
    font-weight: 700;
    font-size: 26px;
    display: block;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    transition: 0.3s ease-out;
    transform: scale(0.8);
}

.toggle input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.toggle input:active~.button {
    filter: blur(0.5px);
    box-shadow: 0 12px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 25px 0 rgba(0, 0, 0, 0.4), inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:active~.label {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.45);
}

.toggle input:checked~.button {
    filter: blur(0.5px);
    box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:checked~.label {
    color: rgba(255, 0, 0, 0.8);
}

.light .header_item,
.light .info_title,
.light .info_descr,
.light .info_text,
.light .info__btn,
.light .footer_cop {
  color: #000;
}

.dark .header_item,
.dark .info_title,
.dark .info_descr,
.dark .info_text,
.dark .info__btn,
.dark .footer_cop {
  color: #887ba8;
}

.banner {
    background-image: url(../images/banner.jpg);
    height: 789px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.info_wrap {
    text-align: center;
}

.info_title {
    color: #373737;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.29px;
    text-align: center;
    margin-bottom: 38px;
}

.info_descr,
.info_text {
    display: inline-block;
    color: #373737;
    max-width: 1145px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.info_descr {
    margin-bottom: 28px;
}

.info_text {
    margin-bottom: 66px;
}

.info__btn {
    display: inline-block;
    padding: 18px 43px;
    border: none;
    background-color: #FF0000;
    color: #fff;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 82px;
}

.footer .container {
    max-width: 1070px;
}

.footer_cop {
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
    margin-bottom: 29px;
}